.item {
  width: 300px;
}

p {
  padding-left: 10px;
  padding-right: 10px;
}

.item p {
  margin: 6px 0;
  width: 90%;
  word-wrap: break-word; /* ให้ข้อความขึ้นบรรทัดใหม่เมื่อมันเกินขอบเขต */
  overflow-wrap: break-word; /* รองรับเบราว์เซอร์บางตัว */
}

.item img {
  border-radius: 8px;
  width: 280px;
}

.item-prices {
  display: flex;
  gap: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.item-price-new {
  color: #374151;
  font-size: 18px;
  font-weight: 600;
}

.item-price-old {
  color: #8c8c8c;
  font-size: 18px;
  font-weight: 500;
  text-decoration: line-through;
}

.item:hover {
  transform: scale(1.05);
  transition: 0.6s;
}
